
.example-card {
    max-width: 1200px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.6) 90%);
  }

  .form-container{
      height: 900px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.2);
  }
  .panel{
    background: rgba(0, 0, 0, 0.5);
  }

  .form-content{
    width: 1200px;
  }

  .title{
    margin-top: 20px;
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
  }

  .inputForms{
      width: 100%;
  }
  .inputForms2{
    width: 100%;
}

  .example-container{
      align-items: initialE;
  }

  .example-container2{
      width: 100%;
    display: flex;
    justify-content: space-between;
}


  .topics{
    margin-bottom: 2px;
    margin-left: 2px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .profile-image{
      margin-top: 30px;
      text-align: left;
  }

  .container-general{
      display: flex;
      gap: 30px;
  }

  .container-info{
    flex-grow: 4;
    
  }

  .container-date{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
  }

  .container-date div {
      flex-grow: 2;
  }

  .profile-image{
    text-align: center;
}

.file-select {          
  position: relative;
  display: inline-block;
  cursor: pointer;
}
   
.file-select::before {
  background-color: #7b1fa2;
  color: white;
  font-weight: 600;
  display: flex;            
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar portada';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;   
  cursor: pointer;  
}
  
.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;    
  cursor: pointer;        
}
