<div class="background">
    <div class="imagen">
        <img src= "data:image/jpg;base64,{{datosArtistas.imagen}}" height="180px" width="180px" style="object-fit: cover; border-radius: 150px;">
    </div>
    <div class="name" >
        <p>
           {{datosArtistas.nombre}}
        </p>
        <p style="font-size: 15px; font-weight: 300; text-transform: initial;">
            {{datosArtistas.descripcion}}
        </p>
        <div
            style="font-size: 18px; font-weight: 500; text-transform: uppercase; background-color: blueviolet; width: 100%; border-radius: 100px; padding: 5px; text-align: center; flex-grow: 2; max-width: 200px;">
            {{datosArtistas.generoMusical}}
        </div>
        <p></p>
        <mat-divider></mat-divider>
    </div>
    <p class="example-spacer"></p>
    <div class="boton">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>south</mat-icon>
        </button>
    </div>

</div>

<div class="background2">

    <div class="form-container">
        <p class="subtitles">
            Canciones
        </p>
        <div class="form-content">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

                <ng-container matColumnDef="cancion">
                    <th mat-header-cell *matHeaderCellDef>Canción</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.nombre}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="duracion">
                    <th mat-header-cell *matHeaderCellDef>Duración</th>
                    <td mat-cell *matCellDef="let element"> {{element.duracion}}</td>
                </ng-container>

                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef>Precio</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.precio}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="comprar">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element"> <button mat-icon-button color="primary"
                            aria-label="Example icon button with a menu icon">
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </div>
    <div class="albumPrincipal">
        <p>
            Album principal
        </p>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title style="text-transform: capitalize;">bad vibes forever</mat-card-title>
                <mat-card-subtitle>
                    <p style="text-align: start;">XXXTENTACION</p>
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/images/AL2.jpg" alt="Photo of a Shiba Inu"
                style="width: 90%; height: 90%;object-fit: cover;border-radius: 10px;">
            <mat-card-content>
                <p style="text-align: justify; padding: 10px;">
                    Crybaby es el tercer mixtape del rapero estadounidense Lil Peep.​ Fue lanzado el 10 de junio de 2016
                    de forma independiente
                    ​ y luego re-lanzado póstumamente a las plataformas de transmisión el 10 de junio de 2020 con 10 de
                    las 11 pistas originales.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

</div>
<div class="subtitles2"> Albums</div>
<div class="containerCard">
    <mat-card *ngFor="let card of albums" class="example-card2">
        <div>
            <img mat-card-image class="tamanoImagen" src="{{card.image}}" fallimg="picture1">
        </div>

        <mat-card-content>
            <div class="hoteltitle"> {{card.name}} </div>

        </mat-card-content>
    </mat-card>

</div>