<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Agregar">
        <div class="form-container">
            <div class="form-content">
                <mat-card class="example-card">
                    <mat-card-header style="justify-content: center;">
                        <mat-card-title class="title">Agregar artista</mat-card-title>
                        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
                    </mat-card-header>
                    <br>
                    <mat-divider></mat-divider>
                    <mat-card-content style="padding: 5%;">
                        <form [formGroup]="formularioArtista" (ngSubmit)="onFormSubmit()">
                            <div class="profile-image">
                                <!--<img src="assets/images/P2.jpg" width="150px" height="150px" style="border-radius: 150px;">-->
                                <img [src]="imgURL" width="150px" height="150px"
                                    style="border-radius: 150px; object-fit: cover;" *ngIf="imgURL" fallimg>
                            </div>
                            <div class="file-select">
                                <input #file type="file" accept='image/*' (change)="preview($event)" />
                            </div>
                            <br>
                            <div class="example-container">
                                <div class="topics">Nombre del artista</div>
                                <div>
                                    <mat-form-field appearance="outline" class="inputForms">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput placeholder="ej: Shakira" formControlName="nombre">
                                        <mat-error *ngIf="ArtistForm.invalid">{{getErrorMessage()}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="example-container">
                                <div class="topics">Genero músical</div>
                                <div>
                                    <mat-form-field appearance="outline" class="inputForms">
                                        <mat-label>Genero</mat-label>
                                        <mat-select name="gender" panelClass="panel" formControlName="generoMusical">
                                            <mat-option *ngFor="let gender of genders" [value]="gender.value"
                                                class="panel">
                                                {{gender.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>
                            <form [formGroup]="formFecha">
                                <div class="topics">Fecha de nacimiento</div>
                                <div class="container-date">
                                    <div>
                                        <mat-form-field appearance="outline" class="inputForms2">
                                            <mat-label>Dia</mat-label>
                                            <input matInput placeholder="2" [(ngModel)]="dia" formControlName="dia">
                                            <mat-error *ngIf="ArtistForm.invalid">{{getErrorMessage()}}</mat-error>
                                        </mat-form-field>
                                    </div>
    
                                    <div>
                                        <mat-form-field appearance="outline" class="inputForms2">
                                            <mat-label>Mes</mat-label>
                                            <mat-select [formControl]="monthControl" name="month" panelClass="panel"
                                                [(ngModel)]="mes">
                                                <mat-option *ngFor="let month of months" [value]="month.value"
                                                    class="panel">
                                                    {{month.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
    
                                    <div>
                                        <mat-form-field appearance="outline" class="inputForms2">
                                            <mat-label>Año</mat-label>
                                            <input matInput placeholder="2000" [(ngModel)]="anio" formControlName="anio">
                                            <mat-error *ngIf="ArtistForm.invalid">{{getErrorMessage()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                            

                            <div class="example-container">
                                <div class="topics">Nacionalidad</div>
                                <div>
                                    <mat-form-field appearance="outline" class="inputForms">
                                        <mat-label>Nacionalidad</mat-label>
                                        <input matInput placeholder="ej: Colombia" formControlName="nacionalidad">
                                        <mat-error *ngIf="ArtistForm.invalid">{{getErrorMessage()}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="example-container">
                                <div class="topics">Descripción</div>
                                <div>
                                    <mat-form-field appearance="outline" class="inputForms">
                                        <p></p>
                                        <mat-label>Descripción</mat-label>
                                        <input matInput placeholder="ej: Cantautor, productor"
                                            formControlName="descripcion">
                                        <mat-error *ngIf="ArtistForm.invalid">{{getErrorMessage()}}</mat-error>
                                        <p></p>
                                    </mat-form-field>
                                </div>
                            </div>

                            <br>
                            <div style="text-align: center; ">
                                <button mat-flat-button color="warn" type="button"
                                    style="width: 45%; margin-right:15px ;">Cancelar</button>
                                <button mat-flat-button color="primary" type="submit"
                                    style="width: 45%;">Guardar</button>
                            </div>
                        </form>
                    </mat-card-content>

                </mat-card>

            </div>

        </div>
    </mat-tab>
    <mat-tab label="Editar">
        <div class="form-container">
            <div class="form-content">
                <mat-card class="example-card">
                    <mat-card-header style="justify-content: center;">
                        <mat-card-title class="title">Editar artista</mat-card-title>
                        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
                    </mat-card-header>
                    <br>
                    <mat-divider></mat-divider>
                    <mat-card-content style="padding: 5%;">
                        <form [formGroup]="formularioEditarArtista" (ngSubmit)="onFormSubmit2()">
                            <div class="profile-image">
                                <!--<img src="assets/images/P2.jpg" width="150px" height="150px" style="border-radius: 150px;">-->
                                <img [src]="imgURL" width="150px" height="150px" style="border-radius: 150px;"
                                    *ngIf="imgURL" fallimg>
                            </div>
                            <div class="file-select">
                                <input #file type="file" accept='image/*' (change)="preview($event)" />
                            </div>
                            <br>
                            <div class="example-container">
                                <div class="topics">Nombre del artista</div>
                                <div>
                                    <mat-form-field appearance="outline" class="inputForms">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput placeholder="ej: Shakira" formControlName="nombre">
                                        <mat-error *ngIf="ArtistForm.invalid">{{getErrorMessage()}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="example-container">
                                <div class="topics">Genero músical</div>
                                <div>
                                    <mat-form-field appearance="outline" class="inputForms">
                                        <mat-label>Genero</mat-label>
                                        <mat-select name="gender" panelClass="panel" formControlName="generoMusical">
                                            <mat-option *ngFor="let gender of genders" [value]="gender.value"
                                                class="panel">
                                                {{gender.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>
                            <form [formGroup]="formFecha">
                                <div class="topics">Fecha de nacimiento</div>
                                <div class="container-date">
                                    <div>
                                        <mat-form-field appearance="outline" class="inputForms2">
                                            <mat-label>Dia</mat-label>
                                            <input matInput placeholder="2" [(ngModel)]="dia" formControlName="dia">
                                            <mat-error *ngIf="ArtistForm.invalid">{{getErrorMessage()}}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div>
                                        <mat-form-field appearance="outline" class="inputForms2">
                                            <mat-label>Mes</mat-label>
                                            <mat-select [formControl]="monthControl" name="month" panelClass="panel"
                                                [(ngModel)]="mes">
                                                <mat-option *ngFor="let month of months" [value]="month.value"
                                                    class="panel">
                                                    {{month.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div>
                                        <mat-form-field appearance="outline" class="inputForms2">
                                            <mat-label>Año</mat-label>
                                            <input matInput placeholder="2000" [(ngModel)]="anio"
                                                formControlName="anio">
                                            <mat-error *ngIf="ArtistForm.invalid">{{getErrorMessage()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>


                            <div class="example-container">
                                <div class="topics">Nacionalidad</div>
                                <div>
                                    <mat-form-field appearance="outline" class="inputForms">
                                        <mat-label>Nacionalidad</mat-label>
                                        <input matInput placeholder="ej: Colombia" formControlName="nacionalidad">
                                        <mat-error *ngIf="ArtistForm.invalid">{{getErrorMessage()}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="example-container">
                                <form>
                                    <mat-form-field appearance="outline" class="inputForms">
                                      <mat-label>Artista</mat-label>
                                      <mat-select [(ngModel)]="selectedValue" name="food" >
                                        <mat-option *ngFor="let food of listaArtistas" [value]="food.id">
                                          {{food.nombre}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </form>
                            </div>

                            <div class="example-container">
                                <div class="topics">Descripción</div>
                                <div>
                                    <mat-form-field appearance="outline" class="inputForms">
                                        <p></p>
                                        <mat-label>Descripción</mat-label>
                                        <input matInput placeholder="ej: Cantautor, productor"
                                            formControlName="descripcion">
                                        <mat-error *ngIf="ArtistForm.invalid">{{getErrorMessage()}}</mat-error>
                                        <p></p>
                                    </mat-form-field>
                                </div>
                            </div>

                            <br>
                            <div style="text-align: center; ">
                                <button mat-flat-button color="warn" type="button"
                                    style="width: 45%; margin-right:15px ;">Cancelar</button>
                                <button mat-flat-button color="primary" type="submit"
                                    style="width: 45%;">Guardar</button>
                            </div>
                        </form>
                        
                    </mat-card-content>

                </mat-card>

            </div>

        </div>
    </mat-tab>
    <mat-tab label="Eliminar">
        <div class="subtitles2"> Lista de artistas </div>

        <div class="fullcontent">
            <div class="containerCard2">
                <mat-card *ngFor="let card of listaArtistas" class="example-card2">

                    <div>
                        <img mat-card-image class="tamanoImagen" src="{{card.imagen}}"
                            src-fallback="assets/images/df.svg" (loaded)="onLoaded($event)">
                    </div>

                    <mat-card-content style="align-self: flex-end;">
                        <div class="hoteltitle" style="font-size: 20px; font-weight: 400; text-transform: uppercase;">
                            {{card.nombre}} </div>
                        <div style="font-size: 18px; font-weight: 400; text-transform: uppercase;">
                            {{card.nacionalidad}}
                        </div>
                        <div style="font-size: 18px; font-weight: 400; text-transform: capitalize;">
                            {{card.fechaNacimiento}}
                        </div>
                        <div
                            style="font-size: 18px; font-weight: 400; text-transform: capitalize; background-color: rgb(255, 52, 103); width: 100%; border-radius: 100px; padding: 5px; text-align: center; flex-grow: 2; max-width: 200px;">
                            {{card.generoMusical}}
                        </div>
                    </mat-card-content>
                    <p class="example-spacer"></p>
                    <div style="padding: 20px; align-self: flex-end;">
                        <button mat-icon-button color="warn" (click)="eliminarArtista(card.id)">
                            <mat-icon style="font-size: 30px;">delete</mat-icon>
                        </button>
                    </div>

                </mat-card>

            </div>

        </div>
    </mat-tab>
</mat-tab-group>