<div class="container">
    <div class="banner">
        DASMusic
    </div>
    <mat-divider></mat-divider>
    <div class="banner2">
        Lo mejor de la música
    </div>
    <br>
    <div class="cards">
        <div class="card1">
            <mat-card class="example-card1">
                
                <mat-card-title>ARTISTAS</mat-card-title>
                <br>
                <mat-card-content>
                    <img mat-card-image class="tamanoImagen" src="assets/images/df.svg" >
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button class="boton" routerLink="/biblioteca">Ver más</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="card2">
            <mat-card class="example-card2">

                <mat-card-title>ALBUMS</mat-card-title>
                <br>
                <br>
                <br>
                <mat-card-content>
                    <img mat-card-image class="tamanoImagen" src="assets/images/df3.svg" >
                    <p></p>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button class="boton" routerLink="/biblioteca">Ver más</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="card3">
            <mat-card class="example-card3">

                <mat-card-title>CANCIONES</mat-card-title>
                <br>
                <br>
                <mat-card-content>
                    <img mat-card-image class="tamanoImagen2" src="assets/images/df2.svg" >
                    <br>
                    <br>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button class="boton" routerLink="/biblioteca">Ver más</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>