<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Artistas">
        <div class="containerCard" >
            <mat-card *ngFor="let card of artistas" class="example-card" style="cursor:pointer" (click)="perfilArtista(card.id)">
                <img mat-card-image class="tamanoImagen" src="{{card.nombre}}" src-fallback="assets/images/df.svg" (loaded)="onLoaded($event)">
                <mat-card-content>
                    <div class="hoteltitle"> {{card.nombre}} </div>

                </mat-card-content>
            </mat-card>
        </div>
            
    </mat-tab>
    <mat-tab label="Canciones">
        <div class="containerCard" >
            <mat-card *ngFor="let canciones of canciones" class="example-card2" style="cursor:pointer">
                <img mat-card-image class="tamanoImagen" src="data:image/jpg;base64,{{canciones.imagen}}" src-fallback="assets/images/df2.svg" (loaded)="onLoaded($event)">
                <mat-card-content>
                    <div class="hoteltitle"> {{canciones.nombre}} </div>

                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Albums">
        <div class="containerCard" >
            <mat-card *ngFor="let card of album" class="example-card2" style="cursor:pointer" (click)="perfilAlbum(card.id)">
                <img mat-card-image class="tamanoImagen" src="{{card.imagen}}" src-fallback="assets/images/df3.svg" (loaded)="onLoaded($event)">
                <mat-card-content>
                    <div class="hoteltitle"> {{card.nombre}} </div>

                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>