<mat-sidenav-container fullscreen>


  <div class="background">

    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <mat-sidenav #sidenav mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true"
    class="background-sidenav" *ngIf="usuario != null">

    <mat-nav-list>
      <div class="logo-text" fxFlex="15">

        <div *ngIf="sidenavWidth > 5" class="logo-name">
          DASMusic
        </div>

        <div>
          <mat-icon class="logo" mat-list-icon>graphic_eq</mat-icon>
        </div>
      </div>
      <p></p>
      <mat-divider></mat-divider>
      <br>



      <mat-list-item routerLink="/inicio" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Inicio</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="2" routerLinkActive="active">
        <mat-icon mat-list-icon>search</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Buscar</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="biblioteca" routerLinkActive="active">
        <mat-icon mat-list-icon>library_books</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Biblioteca</h5>
        </div>
      </mat-list-item>
      <div *ngIf="validarRol()">
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <mat-divider></mat-divider>
          <h5 class="subtitle">Gestiona tu música</h5>
          <mat-divider></mat-divider>
        </div>

        <mat-list-item routerLink="" routerLinkActive="active" (click)="openDialog()">
          <mat-icon mat-list-icon>add</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 5" class="sidenav-item">
            <h5 class="lead">Gestionar Álbum</h5>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/artistas" routerLinkActive="active">
          <mat-icon mat-list-icon>add_circle</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 5" class="sidenav-item">
            <h5 class="lead">Gestionar Artista</h5>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="" routerLinkActive="active" (click)="openDialogAlbum()">
          <mat-icon mat-list-icon>add_circle_outline</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 5" class="sidenav-item">
            <h5 class="lead">Gestionar Canción</h5>
          </div>
        </mat-list-item>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <mat-divider></mat-divider>
          <h5 class="subtitle">Gestiona tu app</h5>
          <mat-divider></mat-divider>
        </div>
      </div>
      <mat-list-item routerLink="carrito" routerLinkActive="carrito">
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Carrito</h5>
        </div>
      </mat-list-item>
  
      <mat-list-item (click)="cerrarSesion()">
        <mat-icon mat-list-icon>logout</mat-icon>
        
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Cerrar sesión</h5>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>


  <div class="background-toolbar">
    <mat-toolbar class="background-toolbar" *ngIf="usuario != null">
      <p class="example-spacer"></p>
      <p class="name-user">{{loginContent.nickname}}</p>
      <div mat-button class="btn-Menu">
        <img src="assets/images/P1.jpg">
      </div>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
</mat-sidenav-container>