<mat-sidenav-container fullscreen>


  <div class="background">
    <div class="background-toolbar">
      <mat-toolbar class="background-toolbar" *ngIf="usuario == prueba">
        <p class="example-spacer"></p>
        <p class="name-user">Fernel Moreno</p>
        <div mat-button class="btn-Menu">
          <img src="assets/images/P2.jpg">
        </div>
      </mat-toolbar>
    </div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <mat-sidenav #sidenav mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true"
    (mouseenter)="increase()" (mouseleave)="decrease()" class="background-sidenav" *ngIf="usuario == prueba">

    <mat-nav-list>
      <div class="logo-text" fxFlex="15">

        <div *ngIf="sidenavWidth > 5" class="logo-name">
          DASMusic
        </div>

        <div>
          <mat-icon class="logo" mat-list-icon>graphic_eq</mat-icon>
        </div>
      </div>
      <p></p>
      <mat-divider></mat-divider>
      <br>


      
      <mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Inicio</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="2" routerLinkActive="active">
        <mat-icon mat-list-icon>search</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Buscar</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="3" routerLinkActive="active">
        <mat-icon mat-list-icon>library_books</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Biblioteca</h5>
        </div>
      </mat-list-item>
      <br>
      <br>
      <div *ngIf="sidenavWidth > 5" class="sidenav-item">
        <mat-divider></mat-divider>
        <h5 class="subtitle">Gestiona tu música</h5>
        <mat-divider></mat-divider>
      </div>

      <mat-list-item routerLink="" routerLinkActive="active" (click)="openDialog()">
        <mat-icon mat-list-icon>add</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Agregar Álbum</h5>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/artistas" routerLinkActive="active" >
        <mat-icon mat-list-icon>add_circle</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Agregar Artista</h5>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="6" routerLinkActive="active">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Agregar Canción</h5>
        </div>
      </mat-list-item>
      <br>
      <br>
      <div *ngIf="sidenavWidth > 5" class="sidenav-item">
        <mat-divider></mat-divider>
        <h5 class="subtitle">Gestiona tu app</h5>
        <mat-divider></mat-divider>
      </div>

      <mat-list-item routerLink="7" routerLinkActive="active" >
        <mat-icon mat-list-icon>person</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Lista de compradores</h5>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="8" routerLinkActive="active">
        <mat-icon mat-list-icon>local_offer</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Lista de compras</h5>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="9" routerLinkActive="active">
        <mat-icon mat-list-icon>article</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 5" class="sidenav-item">
          <h5 class="lead">Lista de facturas</h5>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>