<div class="subtitles2"> Lista del carrito </div>

<div class="fullcontent">
    <div class="containerCard">
        <mat-card *ngFor="let card of albums" class="example-card2">

            <div>
                <img mat-card-image class="tamanoImagen" src="{{card.image}}" fallimg="picture1">
            </div>

            <mat-card-content style="align-self: flex-end;">
                <div class="hoteltitle"> {{card.name}} </div>
                <div>
                    primo hermano
                </div>
                <div>
                    sapo Hijueputa ome
                </div>
                <div
                    style="font-size: 18px; font-weight: 400; text-transform: uppercase; background-color: rgb(255, 52, 103); width: 100%; border-radius: 100px; padding: 5px; text-align: center; flex-grow: 2; max-width: 200px;">
                    15.000$
                </div>
            </mat-card-content>
            <p class="example-spacer"></p>
            <div style="padding: 20px; align-self: flex-end;">
                <button mat-icon-button color="warn">
                    <mat-icon style="font-size: 30px;">delete</mat-icon>
                </button>
            </div>

        </mat-card>

    </div>
    <div class="factura">
        <mat-card class="example-card3">
            <mat-card-subtitle>Factura</mat-card-subtitle>
            <mat-card-title>Resumen de compra</mat-card-title>
            <mat-card-content>
                <br>
                <div style="display: flex;">
                    <div style="margin-bottom: 5px;">
                        Subtotal
                    </div>
                    <p class="example-spacer"></p>
                    <div style="margin-right: 30px;">
                        15.000 $
                    </div>
                </div>
                <div style="display: flex;">
                    <div style="margin-bottom: 5px;">
                        IVA
                    </div>
                    <p class="example-spacer"></p>
                    <div style="margin-right: 30px;">
                        3.000 $ 
                    </div>
                </div>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <br>
            <div style="display: flex;">
                <div style="font-size: 16px; font-weight: 500;">
                    Total
                </div>
                <p class="example-spacer"></p>
                <div style="margin-right: 30px;">
                    18.000 $
                </div>
            </div>          
            <mat-card-actions style="padding: 10px; text-align: center; margin-top: 25px;">
                <button mat-flat-button style="background-color: rgb(255, 52, 103); width: 90%;" (click)="comprarCarrito()">Pagar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>